<p>
  contact works!
</p>
<!-- 
<div *ngFor = "let std of student"> {{std}}  </div> -->
<ul *ngFor="let person of people">
  <li *ngIf="person.age < 30"> 
  {{ person.name }} ({{ person.age }})
  </li>
</ul>

<ul *ngFor="let person of people">
  <li *ngIf="person.country ==='UK'"
      class="text-success">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngIf="person.country === 'USA'"
      class="text-primary">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngIf="person.country === 'HK'"
      class="text-danger">{{ person.name }} ({{ person.country }})
  </li>
  <li *ngIf="person.country !== 'HK' && person.country !== 'UK' && person.country !== 'USA'"
      class="text-warning">{{ person.name }} ({{ person.country }})
  </li>
</ul>