<div class="container">

<select (change) = "changemonths($event)">
  <option *ngFor = "let day of days" >{{day}}</option>
</select>

<span> {{ showdaystext }} {{  showdays | uppercase}} </span>  
    <span>{{todaydate}}</span>
    <p >example of servise => Sum is {{sum | number}}</p>

<p *ngIf = temp; else  > condition is true</p>

<button [ngStyle]="{color:'#fff','background-color':'red', 'margin-bottom':'10px' }"  (click)="clickfun()"> Click Me  ! if you want see click event </button> 
<p style="color: rgb(255, 127, 187)"> below example of condition ( if or else) </p>
<div  *ngIf="isLoggedIn; then loggedIn; else loggedOut"> </div>
<ng-template #loggedIn>
    Welcome back, friend.
</ng-template>
<ng-template #loggedOut>
    Please friend, login.
</ng-template>

<form class="form">
    <input type="text"  placeholder="firstname" class="fname"/><br> 
    <input type="email"    placeholder="lastname " class="email"/> <br>
    <input type="number"  placeholder="mobile number" class="number"/> <br>
    <select class="daysselect"  ><option *ngFor = "let day of days" >{{day}}</option></select> <br>
    <button class="btn">Submit</button>
</form>

<p>{{values}}</p>


</div>
