.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
form.form {
    max-width: 500px;
   margin:20px auto;
}
.form input,.form select{
    margin-bottom: 10px;
    width :100%
    padding: 10px;
    border-radius: 5px;
     box-sizing: border-box;
    }
.btn{
    background:orange;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer}