.menu_main[_ngcontent-c1] {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 20px 0;
}
.menu_main li {
    padding:0 10px;
    text-transform:uppercase;
    font-size:25px;
}
.logo{
       position: absolute;
}
.w3-top {
    position: static;
}
