<!-- 
<div class="logo"><img src="../assets/images/logo.png"> </div>
<ul class="menu_main">
  <li>
    <a routerLink="/home" >home</a>
  </li>
  <li>
    <a routerLink="/aboutus">about us </a>
  </li>
  <li>
  <a routerLink="/profile" >profile</a>
  </li>
  <li>
    <a routerLink="/contactus" >contact us </a>
  </li>
</ul> -->
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink="/home"  class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a routerLink="/profile"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a routerLink="/aboutus"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a routerLink="/contactus"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a routerLink="/profile"  class="w3-bar-item w3-button">Merchandise</a>
        <a routerLink="/aboutus"  class="w3-bar-item w3-button">Extras</a>
        <a routerLink="/contactus"  class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a routerLink="/profile"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
  <a routerLink="/aboutus"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
  <a routerLink="/contactus"  class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
  <a routerLink="/home"  class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>


<router-outlet></router-outlet>