<div class="container">
<h1> angular tutorial </h1>
<app-childabout></app-childabout>
<app-getdata></app-getdata>
<ul class="decorator">
  <li>
    <h2>Decorator</h2>
    <p>
      decorators are special function of angular start with @.
      this decorator has propertys.
    </p>
    <div>
      There are 4 type of angular decorators 
      <ul>
        <li>
            1_ class decorator:
              this decorator contain @NgModule @Component .
        </li>
        <li>
            2_ property decorator:
              this decorator contain @input and @output
        </li>
        <li>
            3_ method decorator:
              this decorator contain @Hostlistner 
        </li>
        <li>
            4_ perameter decorator:
              this decorator are @inject (servise)
        </li>
      </ul>   
      
    </div>
  </li>
  <li>
    <h2>
      Directive
    </h2>
    <p>
      Directive perform diffrent behavior to eliments in the dom .
    </p>
    <div>
      There are three types of directive .
      <ul>
        <li>
          1_ component  
        </li>
        <li>
          2_ strucher directive 
          example : *If , *For
          change the strucher of dom eliment 
        </li>
        <li>
          3_ attribute directive 
          change the appearance of dom eliment 
        </li>
      </ul>
    </div>
  </li>
  <li>
      <h2>Binding</h2>
      <p>
        bind data logic to view 
      </p>
      <div>
        There are 4 type of  Binding 
        <ul>
          <li>
              1_ interpolation double curly-braces :
               get data from logic layer to view layer
          </li>
          <li>
              2_ property binding square-braces:

          </li>
          <li>
              3_ event binding function-braces:
                get data on event 
          </li>
          <li>
              4_ two way data binding  both curly and square braces:
                get data and set data
          </li>
        </ul>   
      </div>
    </li>
</ul>
</div>